*{
	margin: 0;
	padding: 0;
	font-family: "Segoe UI";
}
body {
	background-color: #48a9dc;
}

a{
	color: black;
	text-decoration: none;
}
/*login and signup*/
.wrapper-sign{
	width: 40%;
	margin: 5em auto;
	padding: 3em;
	border: 1px solid transparent;
	background-color: white;
	border-radius: 1em;
}
.wrapper-sign form{
	width: 100%;
	margin-top: 1.5em;
}
.wrapper-sign input[type=text], .wrapper-sign input[type=password]{
	padding: .5em 2em;
	border-radius: 3em;
	outline: none;
	border: 1px solid #9c9a9a
}

.fiftypers {
	width: 30%;
}
.hundpers {
	width: 70%;
	margin: .5em;
}

@media only screen and (max-width: 1100px) {
 	.fiftypers {
		width: 30%;
	}
	.hundpers {
		width: 75%;
		margin: .5em;
	}
	.btn-sign {
		width: 90% !important;
		padding: 0.5em 2em;
		border: 1px solid transparent;
		background-color: #48a9dc;
		color: white;
		border-radius: 3em;
		margin-top: 1em;
		outline: none;
	}
	.kiri-sign {
		margin-left: 1.5em !important;
		margin-top: 1em;
	}
}

.btn-sign {
	width: 80%;
	padding: 0.5em 2em;
	border: 1px solid transparent;
	background-color: #48a9dc;
	color: white;
	border-radius: 3em;
	margin-top: 1em;
	outline: none;
}
.btn-sign:active {
	border:1px solid blue;
}
.kiri-sign {
	margin-left: 4em;
	margin-top: 1em;
}